.contacto__title{
	 text-align: center;
    margin: 20px auto;
    max-width: 1119.25px;
    height: 58px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	padding: 16px 0;
}