 @media only screen and (max-width: 768px) {
  .menu__header{
    display: flex;
    width: 134px;
    height: 24px;
    flex: none;
   	flex-grow: 0;
}
}
 @media only screen and (min-width: 768px) {
  .menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 134px;
    height: 24px;
    flex-grow: 0;
}
}