.hobbies__box{
	background: #F7F9F9;
	height: 120px;
	width: 16%;
	margin: 2px;
	display: flex;
	align-items: flex-end;
	
}
@media only screen and (max-width: 768px) {

.hobbies__box{
	background: #F7F9F9;
	height: 120px;
	margin: 5px;
	width: 40%;
	display: flex;
	
}	
}